<% include ./partials/header%>
<div class="container">
	<div class="row">
		<div class="col-sm-6 ">
			<ul class="list-group list-unstyled">
				<%foundcart.items.forEach((cart)=>{%>
					<li class="list-item">
						<div class="row">
							<div class="col-sm-4"><img class="img-responsive img-thumbnail" src="<%=cart.item.image%>" alt=""> </div>
							<div class="col-sm-8">
								<p>Price $<%=cart.item.price%></p>
								<p>Quantity <%=cart.quantity%></p>

								<form action="/cart/<%=cart._id%>" method="POST" role="form">
									
									<button type="submit" class="btn btn-primary">remove</button>
								</form>
							</div>
						</div>
					</li>
				<%})%>
			</ul>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				
				<div class="panel-body">

					<form action="/payment" method="POST" role="form">
				
						<p>Total $<%=cart%></p>
						<a class="btn btn-primary" data-toggle="modal" href='#modal-id'>Pay with stripe</a>
					</form>
				</div>
			</div>


			<div class="modal fade" id="modal-id">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							
<div class="container">
    <div class="row">
        <!-- You can make it whatever width you want. I'm making it full width
             on <= small devices and 4/12 page width on >= medium devices -->
        <div class="col-xs-12 col-md-4">
        
        
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">
                <div class="panel-heading display-table" >
                    <div class="row display-tr" >
                        <h3 class="panel-title display-td" >Payment Details</h3>
                        <div class="display-td" >                            
                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">
                  <form action="/payment" method="post" id="payment-form">
  <div class="form-row">
  	<input type="text" name="totalCharge" value="<%=cart%>" class="hidden">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- a Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors -->
    <div id="card-errors" role="alert"></div>
  </div>

  <input type="submit" class="submit" value="pay $<%=cart%>">
</form>
                </div>
            </div>            
            <!-- CREDIT CARD FORM ENDS HERE -->
            
            
        </div>            
        
      
        
    </div>
</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer%>